<kaa-auth-core headerText="Register">
  <form auth-form [formGroup]="registerFormGroup">
    <kaa-form-field controlKey="fullName" label="Full Name" [controlProperties]="fullNameControlProperties" />

    <fieldset class="form-fieldset">
      <legend>Additional</legend>
      <mat-form-field color="accent">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email..." />
      </mat-form-field>
    </fieldset>

    <fieldset class="form-fieldset">
      <legend>Password</legend>
      <mat-form-field color="accent">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password..." />
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Repeat Password</mat-label>
        <input matInput placeholder="Password..." />
      </mat-form-field>
    </fieldset>

    <button mat-raised-button color="accent">Register</button>
    <button mat-button color="primary">Login</button>
  </form>
</kaa-auth-core>
