<kaa-auth-core headerText="Register">
  <form auth-form [formGroup]="registerFormGroup">
    <kaa-form-part controlKey="fullName" label="Full Name" [controlProperties]="fullNameControlProperties" />

    <kaa-form-part
      controlKey="contactInformation"
      label="Contact Information"
      [controlProperties]="contactInformationControlProperties" />
    <kaa-form-part controlKey="passwords" label="Password" [controlProperties]="passwordsControlProperties" />

    <button mat-raised-button color="accent">Register</button>
    <button mat-button color="primary">Login</button>
  </form>
</kaa-auth-core>
