<mat-list>
  @for (user of users(); track user) {
    <mat-list-item class="list-item">
      <ui-avatar-with-content>
        <img ui-avatar size="small" [src]="user.photoURL" [alt]="user.name + 'avatar'" />
        <span class="right-content">{{ user.name }}</span>
      </ui-avatar-with-content>
      <button matListItemMeta mat-icon-button color="accent" (click)="onAddFriend.emit(user)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  }
</mat-list>
