.text-wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  color: gray;

  &__last-message-and-delivary-time {
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;
  }
}
