<ui-horizontal-scroll>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
  <ui-avatar-with-content>
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
</ui-horizontal-scroll>
