.scroll-container {
  max-width: 100vw;
  display: flex;
  align-items: center;
  overflow: hidden;

  &.hide-scrollbar {
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
