<ui-horizontal-scroll>
  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>

  <ui-avatar-with-content>
    <img ui-avatar src="../../../../../../assets/images/profile-img.png" alt="user presentation" />
    <span bottom-content>Kacper</span>
  </ui-avatar-with-content>
</ui-horizontal-scroll>
