<div class="friends-list-page">
  <mat-toolbar class="friends-list-page__toolbar">
    <button mat-icon-button color="accent" (click)="friendsListPageFacade.navigateToUserConversations()">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <button mat-icon-button color="primary" (click)="friendsListPageFacade.navigateToAddFriends()">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar>
  <main>
    @if (friendsListPageFacade.isFriendsListLoaded()) {
      <kaa-friends-list [friends]="friendsListPageFacade.friendsList()" />
    } @else {
      <mat-list>
        @for (_ of [].constructor(10); track _) {
          <mat-list-item>
            <ui-skeleton-circle-loader matListItemAvatar size="small" />
            <ui-skeleton-bar width="7" height="1" />
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      </mat-list>
    }
  </main>
</div>
