.top-toolbar {
  display: flex;
  justify-content: space-between;
}

.bottom-toolbar {
  position: fixed;
  bottom: 0;
  z-index: 1;

  &__nav-list {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
}

.bottom-absolute {
  position: absolute;
  bottom: 0;
}
