<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      @for (navEl of navigationElements; track navEl.matIconName) {
        <a mat-list-item>
          <mat-icon>{{ navEl.matIconName }}</mat-icon>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="secondary" class="top-toolbar">
    <button color="accent" mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    @if (!isFetching()) {
      <img
        ui-avatar
        size="small"
        matTooltip="Profile"
        [src]="coreFacade.loggedUser()?.photoURL"
        [alt]="coreFacade.loggedUser()?.displayName + ' profile image'" />
    } @else {
      <ui-skeleton-circle-loader size="small" />
    }
  </mat-toolbar>

  <!-- NgContent element for displaying pages within the application. -->
  <ng-content />

  <mat-toolbar class="bottom-toolbar" color="secondary">
    <mat-nav-list class="bottom-toolbar__nav-list" (click)="sidenav.close()">
      @for (navEl of navigationElements; track navEl.matIconName) {
        <a mat-list-item>
          <mat-icon>{{ navEl.matIconName }}</mat-icon>
        </a>
      }
    </mat-nav-list></mat-toolbar
  >
</mat-sidenav-container>
