<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      @for (navEl of navigationElements; track navEl.matIconName) {
        <a mat-list-item>
          <mat-icon>{{ navEl.matIconName }}</mat-icon>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <!-- NgContent element for displaying pages within the application. -->
  <ng-content />
</mat-sidenav-container>
