<kaa-core>
  <main class="chat-page">
    <kaa-filter-users></kaa-filter-users>
    <section class="chat-page__users">
      <kaa-users-horizontal-scroller [users]="chatFacade.users()" />
    </section>

    <ul class="navigation-bars-list" role="navigation">
      <li role="listitem">
        <a ui-nav-bar-element href="" [isActivated]="true">Main folder</a>
      </li>
      <li role="listitem">
        <a ui-nav-bar-element href="">Groups</a>
      </li>
    </ul>

    <kaa-conversations-list-section />
  </main>
</kaa-core>
