<kaa-auth-core headerText="Sign In">
  <form auth-form [formGroup]="loginFacade.loginFormGroup">
    <mat-form-field color="accent">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email..." />
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="password..." />
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="loginFacade.signIn()">Login</button>
    <button mat-button color="primary">Register</button>
  </form>
</kaa-auth-core>
