<mat-list>
  @for (friend of friends(); track friend) {
    <mat-list-item class="list-item" (click)="onEmitUser.emit(friend)">
      <ui-avatar-with-content>
        <img ui-avatar size="small" [src]="friend['photoURL']" [alt]="friend.name + 'avatar'" />
        <span class="right-content">{{ friend.name }}</span>
      </ui-avatar-with-content>
      <button matListItemMeta mat-icon-button color="accent" (click)="onMore.emit()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-list-item>
    <mat-divider />
  }
</mat-list>
