.add-friends-page {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--app-dark-background-color);

  &__add-firends-page_shell {
    padding: 1rem;

    mat-form-field {
      width: 100%;
    }
  }
}
