// Gradient
$color-accent-400: rgba(147, 63, 182, 0.8);
$color-accent-500: rgba(123, 31, 162, 0.8);

// Scss placeholders
%center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep [auth-form],
.auth-form {
  display: grid;
}

.auth-core {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, $color-accent-400, $color-accent-500),
    url('../../../../../../assets/images/cyberpunk_pc.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__auth-form-container {
    width: 50%;
    padding: 1rem;
    background-color: #212121;
    border-radius: 5px;
    display: grid;
    @extend %center-element;
  }

  &__header {
    color: white;
    text-align: center;
  }
}
