<ui-form-field [@inputWidth]="isInputFocusMode ? 'expanded' : 'collapsed'">
  <input
    ui-input
    placeholder="Aa"
    [formControl]="messageFormControl()"
    (input)="inputValueChanges.emit(messageFormControl().value)"
    (focus)="onInputFocus()"
    (blur)="onBlurInput.emit()" />
  @if (!isInputFocusMode) {
    <button suffix mat-icon-button>
      <mat-icon suffix color="primary">mood</mat-icon>
    </button>
  } @else {
    <button suffix mat-icon-button>
      <mat-icon suffix color="primary">search</mat-icon>
    </button>
  }
</ui-form-field>
