<main class="settings-page">
  <mat-toolbar>
    <button mat-icon-button color="accent" (click)="navigateToChat()"><mat-icon>arrow_back</mat-icon></button>
  </mat-toolbar>

  <section class="settings-page__settings-shell">
    <ui-avatar-with-icon-button
      borderColorVar="--app-dark-background-color"
      backgroundColorVar="--app-color-dark"
      (onClickBtn)="openEditPicture()">
      <img
        ui-avatar
        size="large"
        class="image-low-margin"
        [src]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWF5S7Lv3Miyjfu-9ZzaYbWAcqcvmsXJfgwQ&s'" />
      <mat-icon class="icon-overlay">photo_camera</mat-icon>
    </ui-avatar-with-icon-button>

    <span>J00r</span>
  </section>
</main>
